<a href="https://colab.research.google.com/github/RumyantsevaAlena/domashka_python/blob/main/%D0%94%D0%97_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задача 1
**Считать данные с помощью pandas**

**Вывести на экран первые 5 строк**

In [143]:
import pandas as pd

In [144]:
df = pd.read_csv('kc-house-data.csv', encoding='windows-1251', parse_dates=['date'])

In [145]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(15)
memory usage: 3.5 MB

**1.1 Создать новый признак price_per_sq_lot,
который будет содержать среднюю стоимость за
один кв. метр общей площади**

In [147]:
df['price_per_sq_lot'] = df['price'] / df['sqft_lot']
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,39.274336
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,18.000000
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,120.800000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,63.118812

**1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0**

In [148]:
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.loc[df['yr_renovated'] == 0, 'delta_renovated'] = 0
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
20392,7936000463,2015-04-16,838000.0,4,2.5,2560,7210,2.0,0,0,...,0,2006,0,98136,47.5535,-122.395,2160,10439,116.227462,0
3074,6021500245,2014-09-10,549950.0,2,1.0,1260,4000,1.0,0,0,...,260,1940,0,98117,47.6898,-122.384,1780,4000,137.487500,0
6809,6679000130,2015-02-09,275000.0,3,2.5,1560,4244,2.0,0,0,...,0,2002,0,98038,47.3834,-122.027,1670,4251,64.797361,0
17839,322059095,2014-08-11,269950.0,4,2.5,2060,13500,1.0,0,0,...,800,1968,0,98042,47.4229,-122.153,1610,10714,19.996296,0
18078,7708250040,2015-02-12,363000.0,3,2.5,2390,8000,2.0,0,0,...,0,1995,0,98042,47.3895,-122.154,2070,7585,45.375000,0

**1.3 Создайте признаки года продажи, месяца продажи**

In [149]:
df['sale_month'] = df['date'].dt.strftime('%b')
df['sale_year'] = df['date'].dt.strftime('%Y')
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,sale_month,sale_year
10245,7852060370,2014-08-11,355000.0,3,2.5,1590,4242,2.0,0,0,...,0,98065,47.5309,-121.876,1590,3702,83.686940,0,Aug,2014
20471,323079101,2015-01-23,1800000.0,4,3.5,6370,205603,2.0,0,0,...,0,98027,47.5016,-121.905,1490,33580,8.754736,0,Jan,2015
5332,2946002140,2014-08-12,279000.0,3,1.5,1780,16000,1.0,0,0,...,0,98198,47.4190,-122.322,1860,9775,17.437500,0,Aug,2014
15990,4472000050,2015-03-09,265000.0,3,2.5,1890,6088,2.0,0,0,...,0,98002,47.2886,-122.218,1700,6600,43.528252,0,Mar,2015
8834,8899200110,2014-06-03,235000.0,3,2.0,1530,8700,1.0,0,0,...,0,98055,47.4529,-122.207,1960,7600,27.011494,0,Jun,2014

**1.4 Удалите признаки date, zipcode, lat, long**

In [150]:
df.drop(columns='date', inplace = True)
df.drop(columns='zipcode', inplace = True)
df.drop(columns='lat', inplace = True)
df.drop(columns='long', inplace = True)
df.head(5)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,sale_month,sale_year
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,1340,5650,39.274336,0,Oct,2014
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,1690,7639,74.288870,40,Dec,2014
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,2720,8062,18.000000,0,Feb,2015
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,1360,5000,120.800000,0,Dec,2014
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,1800,7503,63.118812,0,Feb,2015

#Задача 2
**Создайте датафрейм с клиентами:**

In [151]:
clients = pd.DataFrame({'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]})
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

**2.1 Присоедините к таблице clients данные по домам через метод join**

In [156]:
cl_id = clients.set_index('client_id')
cl_id.head()

             house_id
client_id
1459       8965450190
4684       6823100225
3498       5104540330
3942       2131701075
4535       1522700060

In [153]:
df.set_index('id')
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,sale_month,sale_year
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,1340,5650,39.274336,0,Oct,2014
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,1690,7639,74.288870,40,Dec,2014
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,2720,8062,18.000000,0,Feb,2015
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,1360,5000,120.800000,0,Dec,2014
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,1800,7503,63.118812,0,Feb,2015

In [154]:
clients_lap = cl_id.join(df)
clients_lap

,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,sale_month,sale_year
client_id,,,,,,,,,,,,,,,,,,,,,
1459,8965450190,3275860270,755000.0,3,2.25,3020,13031,2.0,0,0,...,3020,0,1989,0,2480,10204,57.938761,0,Oct,2014
4684,6823100225,9268200600,413500.0,2,1.00,770,4000,1.0,0,0,...,770,0,1924,0,1420,5040,103.375000,0,May,2014
3498,5104540330,9547204350,690000.0,3,2.00,1610,5100,1.5,0,0,...,1610,0,1940,0,1740,5100,135.294118,0,May,2014
3942,2131701075,8861500015,675000.0,3,2.25,1990,10260,2.0,0,0,...,1990,0,1987,0,1990,10260,65.789474,0,May,2014
4535,1522700060,5556300076,1442500.0,3,2.25,2630,9705,2.5,0,2,...,2630,0,1987,0,2640,14284,148.634724,0,Apr,2015
2308,1189000207,6788200800,1185000.0,4,2.75,2850,3000,2.5,0,0,...,2530,320,2003,0,2083,4500,395.000000,0,May,2015
2866,6821600300,3275730110,425000.0,3,2.25,1630,10500,1.0,0,0,...,1100,530,1974,0,1640,9794,40.476190,0,Sep,2014
2765,7137950720,6662410070,420000.0,4,2.25,2030,12000,2.0,0,0,...,2030,0,1977,0,2190,9900,35.000000,0,Apr,2015
1472,9510920050,2724069070,519500.0,4,2.00,1540,17859,1.0,0,0,...,1540,0,1964,0,1390,9688,29.088975,0,Feb,2015
4236,6131600255,1698900195,710000.0,3,2.00,1880,3000,1.0,0,0,...,1040,840,1931,0,1790,3000,236.666667,0,Sep,2014
2295,5428000070,8712100320,585000.0,5,2.75,2350,4178,1.5,0,0,...,1520,830,1922,2015,1920,4178,140.019148,93,Jul,2014
939,1788800910,1324079046,350000.0,3,2.25,1580,47916,1.0,0,0,...,1580,0,1979,0,1980,75358,7.304449,0,Jan,2015
3840,8100400160,522059013,173000.0,2,1.00,820,10450,1.0,0,0,...,820,0,1965,0,1240,11200,16.555024,0,Jun,2014
280,3123049142,1722059235,304900.0,4,1.75,2600,11325,1.0,0,0,...,1610,990,1969,0,1720,11088,26.922737,0,Jul,2014
20,6306800010,6300500875,385000.0,4,1.75,1620,4980,1.0,0,0,...,860,760,1947,0,1400,4980,77.309237,0,May,2014
4332,5083000375,1626079066,290000.0,2,1.00,1120,217800,1.0,0,0,...,1120,0,1976,0,1480,217800,1.331497,0,Aug,2014
3475,7920100025,9550202870,417000.0,2,1.75,1090,4590,1.0,0,0,...,790,300,1915,0,1390,4080,90.849673,0,Feb,2015
4213,1951600150,8665050490,480680.0,3,2.50,1730,4924,2.0,0,0,...,1730,0,1996,0,1610,4313,97.619821,0,Sep,2014
3113,809001400,9510970300,775000.0,4,2.50,3310,5101,2.0,0,0,...,3310,0,2005,0,3010,5176,151.930994,0,Sep,2014
4809,339600110,8643000225,225000.0,5,1.50,1790,11656,2.0,0,0,...,1790,0,1963,0,2040,9790,19.303363,0,May,2015
2134,1622049154,9264901040,239900.0,4,2.25,1860,7000,1.0,0,0,...,1120,740,1979,0,1990,8937,34.271429,0,May,2014
2242,1099600250,5104531820,525000.0,4,2.50,2910,7631,2.0,0,2,...,2910,0,2006,0,3190,5552,68.798323,0,Jun,2014
2068,8563000110,1771100240,361000.0,3,1.75,1650,11220,1.0,0,0,...,1650,0,1969,0,1340,10129,32.174688,0,Sep,2014
4929,2768100205,9830200380,653000.0,3,3.00,3040,5067,3.0,0,2,...,3040,0,1993,0,1820,5998,128.873100,0,Sep,2014
1384,3995700435,6392003490,433500.0,3,1.00,1230,6000,1.0,0,0,...,780,450,1937,0,1570,5000,72.250000,0,Jul,2014
1589,8861700030,2004100075,332000.0,2,1.00,1150,8138,1.0,0,0,...,1150,0,1954,0,1300,8139,40.796264,0,Mar,2015
3317,3303980210,2821049048,590000.0,4,4.25,2360,57514,2.0,0,0,...,2360,0,1939,1987,2037,35733,10.258372,48,Jun,2014
2260,7731100066,7345000340,208000.0,3,1.00,1020,6120,1.0,0,0,...,1020,0,1967,0,1370,8000,33.986928,0,Feb,2015
1727,8146100580,5088500310,435000.0,3,2.00,2660,16677,1.0,0,0,...,2210,450,1990,0,2660,11355,26.083828,0,Mar,2015
1764,825069097,8565000030,805000.0,4,2.50,3450,33460,2.0,0,0,...,3450,0,1997,0,2820,35250,24.058577,0,Apr,2015
1611,3889100029,9407101840,378000.0,4,2.50,1890,12236,1.0,0,0,...,1230,660,1978,0,1390,11360,30.892449,0,Jun,2014
1474,9524100196,2413301070,280000.0,4,2.25,2100,8075,2.0,0,0,...,2100,0,1978,0,2100,7464,34.674923,0,Mar,2015

**2.2 Присоедините к таблице clients данные по домам через метод merge**
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [157]:
merged = clients.merge(df, left_on='house_id', right_on='id')
merged

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,sale_month,sale_year
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,1500,0,1994,0,2700,7734,96.405229,0,Feb,2015
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,1670,200,1949,0,1710,6000,116.666667,0,Apr,2015
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,3680,0,2006,0,3310,7180,93.836374,0,May,2015
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,1720,0,1932,2009,1410,8300,84.000000,77,Dec,2014
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,2520,0,1999,0,2330,14007,36.944583,0,Jun,2014
5,2308,1189000207,1189000207,387000.0,2,2.50,1170,1394,2.0,0,...,1170,0,2001,0,1250,3136,277.618364,0,Oct,2014
6,2866,6821600300,6821600300,886000.0,3,2.25,2380,6000,2.0,0,...,1650,730,1931,0,2000,6000,147.666667,0,Mar,2015
7,2765,7137950720,7137950720,339100.0,4,2.50,2350,10655,2.0,0,...,2350,0,1992,0,2210,7028,31.825434,0,Mar,2015
8,1472,9510920050,9510920050,725000.0,3,2.50,2980,16996,2.0,0,...,2980,0,1992,0,2980,15438,42.657096,0,Sep,2014
9,4236,6131600255,6131600255,202500.0,3,2.00,1540,8316,1.0,0,...,1540,0,1954,0,1250,8316,24.350649,0,Dec,2014
10,2295,5428000070,5428000070,770000.0,5,3.50,4750,8234,2.0,0,...,3350,1400,2013,0,2160,14496,93.514695,0,May,2015
11,939,1788800910,1788800910,190000.0,3,1.00,1200,10458,1.0,0,...,1200,0,1961,0,1160,9000,18.167910,0,Oct,2014
12,3840,8100400160,8100400160,700000.0,3,2.25,2330,11424,2.0,0,...,2330,0,1984,0,2050,11448,61.274510,0,Apr,2015
13,280,3123049142,3123049142,452000.0,3,2.25,2600,14810,1.0,0,...,1490,1110,1956,0,2450,16715,30.519919,0,Aug,2014
14,20,6306800010,6306800010,436472.0,4,2.50,2692,8392,2.0,0,...,2692,0,2014,0,2574,14446,52.010486,0,Aug,2014
15,4332,5083000375,5083000375,170000.0,3,1.00,1310,9529,1.0,0,...,1310,0,1956,0,1330,9529,17.840277,0,Oct,2014
16,4332,5083000375,5083000375,235000.0,3,1.00,1310,9529,1.0,0,...,1310,0,1956,0,1330,9529,24.661559,0,Mar,2015
17,3475,7920100025,7920100025,450000.0,2,1.00,740,5100,1.0,0,...,740,0,1947,0,920,5100,88.235294,0,Apr,2015
18,4213,1951600150,1951600150,180000.0,3,1.00,1610,8500,1.5,0,...,1610,0,1959,0,1070,8750,21.176471,0,Apr,2015
19,3113,809001400,809001400,925000.0,3,1.00,1630,3200,1.5,0,...,1630,0,1912,0,1710,3600,289.062500,0,Sep,2014
20,4809,339600110,339600110,395000.0,3,2.50,1610,3755,2.0,0,...,1610,0,1987,0,1300,3823,105.193076,0,Sep,2014
21,2134,1622049154,1622049154,289900.0,3,1.75,1899,11325,2.0,0,...,1899,0,1943,2005,2000,10454,25.598234,62,Dec,2014
22,2242,1099600250,1099600250,260000.0,3,1.75,1710,6400,1.0,0,...,1240,470,1976,0,1600,6400,40.625000,0,Dec,2014
23,2068,8563000110,8563000110,427000.0,4,1.75,1460,9750,1.0,0,...,1460,0,1967,0,1820,9840,43.794872,0,Apr,2015
24,4929,2768100205,2768100205,519000.0,4,2.50,1950,2617,1.5,0,...,1250,700,1910,0,1520,1438,198.318686,0,Jun,2014
25,1384,3995700435,3995700435,265000.0,4,3.00,1940,8170,1.0,0,...,1940,0,1948,0,1310,8169,32.435741,0,Jul,2014
26,1589,8861700030,8861700030,510000.0,3,1.50,2400,10275,1.0,0,...,1540,860,1964,0,2380,10125,49.635036,0,Dec,2014
27,3317,3303980210,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,...,4040,0,2002,0,3940,14212,78.454827,0,Apr,2015
28,2260,7731100066,7731100066,545000.0,3,1.00,1510,5000,1.5,0,...,1510,0,1909,0,1680,4000,109.000000,0,Jun,2014
29,1727,8146100580,8146100580,765000.0,3,1.00,1220,7585,1.0,0,...,1220,0,1954,0,1380,8918,100.856955,0,Oct,2014
30,1764,825069097,825069097,770000.0,3,2.50,2650,40705,2.0,0,...,2650,0,1994,0,2550,42625,18.916595,0,Jun,2014
31,1611,3889100029,3889100029,810000.0,3,2.50,2670,10481,2.0,0,...,2670,0,2003,0,2620,8895,77.282702,0,Jun,2014
32,1474,9524100196,9524100196,239000.0,2,1.50,680,772,2.0,0,...,680,0,2005,0,690,1059,309.585492,0,Nov,2014

#Задача 3
Составьте несколько сводных таблиц

**3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей**

In [158]:
df.groupby('bedrooms').agg({'price': 'mean'}).sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

**3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома**

In [160]:
df.groupby('condition').agg({'price': ['min', 'mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

**3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида**

In [162]:
df.pivot_table(
    index='waterfront',
    columns= 'condition',
    aggfunc= 'count',
    values= 'id',
    fill_value=0
)

condition    1    2      3     4     5
waterfront
0           29  171  13940  5629  1681
1            1    1     91    50    20

**3.4 Каких домов в зависимости от этажности и количества спален больше?**

In [163]:
pd.crosstab(index= df['floors'],
            columns= df['bedrooms'],
            )

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

**3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома**

In [165]:
df.groupby(['grade', 'condition']).agg({'price': 'median'}).unstack('condition').fillna(0)

              price
condition         1          2          3          4          5
grade
1          142000.0        0.0        0.0        0.0        0.0
3               0.0   280000.0    75000.0        0.0   262000.0
4          150000.0   145000.0   205000.0   238525.0        0.0
5          190000.0   180000.0   234475.0   229975.0   227450.0
6          255000.0   235000.0   265000.0   295000.0   285475.0
7          403500.0   305000.0   357500.0   390000.0   456000.0
8          932500.0   429000.0   485000.0   571250.0   696000.0
9               0.0   715000.0   689000.0   823500.0  1078000.0
10              0.0  1752500.0   890000.0  1030000.0  1650000.0
11              0.0        0.0  1209500.0  1685000.0  2050000.0
12              0.0        0.0  1807500.0  2125000.0  1990000.0
13              0.0        0.0  2888000.0  5750000.0        0.0